/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.class
/.lein-*
/.nrepl-port
.hgignore
/hexwrench.iml
/.idea

# Sublime Text shtuff
*.sublime-project
*.sublime-workspace
sftp-config.json
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache